*{
    padding: 0%;
    margin: 0%;
    color: black;
}
img{
    width: 300px;
    height: 300px;
}
.red{
    width: 50px;
    height: 50px;
    margin: 20px 20px 20px 0px;
}
li{
    transition: all 1s
}

header{
    background-image: url(../img/artesana.jpg);
    background-size: contain;
}
main{
    background-color: #DECFC7;
}
footer{
    background-image: linear-gradient(#DECFC7, #C7A48C);
}
header{
    h1{
        font-size: 100px;
    }
}
h2{
    padding: 15px;
}
h3{
    padding: 10px;
}
.destacados{
    border: dashed 3px #6a584b;
    margin: 10px;
    padding: 5px;
    background-color: #f7f7f7;
    transition: all 1s;
}

.pastel{
    margin: 10px;
    border: 2px solid #423c38;
}
h2{
    span{
        a{
            text-decoration: none;
            text-decoration-line: none;
            color: black;
        }
    }
}
.producto{
    border: dashed 3px #6a584b;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    background-color: #f7f7f7;
    transition: all 1s;
}
.tortas{
    margin: 10px;
    border: 2px solid #423c38;
    width: 220px;
    height: 220px;
}
p{
    padding: 10px;
    font-size: 15px;
}
a{
    color: black;
    text-decoration: none;
}
span{
    font-weight: bold;
}
.map{
    padding: 10px;
    margin: 20px 10px 15px 10px;
    border: dashed 4px #6a584b;
    background-color: #f7f7f7;
}
iframe{
    border: solid 2px #6a584b;
}
#form{
    border: dashed 4px #6a584b;
    padding: 10px;
    margin: 10px;
    background-color: #f7f7f7;
}
.datos{
    margin: 5px;
}
.formulario{
    padding: 10px;
    margin: 5px 10px 5px 10px;
    border: dashed 4px #6a584b;
    background-color: #f7f7f7;
}
.ordenar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user{
    width: 100px;
    height: 100px;
    border: #423c38 solid 2px;
    border-radius: 50%;
}
.persona{
    padding: 10px;
    margin: 5px 10px 5px 10px;
    border: dashed 4px #6a584b;
    background-color: #f7f7f7;
}
.nombre{
    padding: 0px;
    margin: 5px;
}
.comentario{
    border: solid 3px #423c38;
    background-color: #C7A48C;
    padding: 15px;
}
.contenido{
    margin: 10px 5px 5px 10px;
}
.boton{
    margin: 10px 5px 0px 5px;
}
.gracias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#aviso{
    margin: 20px;
}
h4{
    margin: 30px;
}
#cuchara{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
@media screen and (max-width: 576px) {
    #title{
        display: none;
    }
    .user{
        display: none;
    }
    header{
        h1{
            font-size: 50px;
        }
    }
}
@media screen  and (min-width: 768px) and (max-width: 992px){

    .tortas{
        width: 200px;
        height: 200px;
    }
    
}
    
.producto:hover{
    background-color: #6a584b;
}
.destacados:hover{
    background-color: #6a584b;
}
li:hover{
    background-color: #6a584b;
}